#monCanvas {
    width: 100%;
    max-width: 500px;
    height: 500px;
    border: 1px solid pink;
    background-image: url("./images/carte.jpg");
    background-size: 100%;
}

.container{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
body {
    background-color: black;
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
main{
    display: flex;
    justify-content: space-around;
}

h1{
    text-decoration-style: dashed;
    color: goldenrod;
    margin: auto 20px auto 20px;
    font-size: 2em;

}
h1:hover{
    color: pink;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    opacity: 0.90;
    cursor: pointer;
}

#bouton{
    text-align: center;
}

button{
    width: 60px;
    margin: 5px auto;
    border: darkmagenta 1px solid;
    border-radius: 5px;
    background: pink;
    color: darkmagenta;
}

button:hover{
    background: goldenrod;
    border: gold 1px solid;
    margin-top: 5px;
    cursor: grab;
}

button:active{
    background: grey;
    border: gold 1px solid;
    margin-top: 5px;
    cursor: grabbing;
}
a{
    text-decoration: none;
    color: goldenrod;
}

footer{
    margin-top: 5%;
    flex: 1 100%;
}

hr{
    width : 30%;
    background-color: goldenrod;
}
h4{
    font-style: italic;
    color: goldenrod;
}

    @media screen, (max-width: 425px){
    .container{
        flex-direction: column;
        align-content: center;
    }

    #monCanvas{
        width: 100%;
        max-width: 500px;
    }
}
.rotate img{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.rotate :hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.rotate1 img{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.rotate1 :hover{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.rotate2 img{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.rotate2 :hover{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#sarahGauche{
    margin : auto;
    animation-duration: 4s;
    animation-name: mouv1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#sarahDroite{
    margin : auto;
    animation-duration: 4s;
    animation-name: mouv2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes mouv1 {
    from{
        margin-top: 0%;
    }
    to{
        margin-top: 500%;
    }
}

@keyframes mouv2 {
    from{
        margin-top: 500%;
    }
    to{
        margin-top: 0%;
    }
}
